include ../mixins/sub-menu.pug
header(class="header")

  div(class="container")
    div(class="row align-items-center")
      div(class="col-3")
        div(class="inner-logo")
          a(href="/")
            img(src="/images/OIP.webp" alt="Logo")

      div(class="col-9")
        nav(class="inner-menu")
          ul
            li
              a(href="/") Trang Chủ
            li(class="sub-menu")
              -const pathProduct = "/products";
              a(href=pathProduct) Sản Phẩm
              +sub-menu(layoutProductsCategory, pathProduct)
              
                