mixin sort()
  div(class="row mn-3")
      div(class="col-4", sort)
        label(class="form-label fw-bold") Sắp xếp theo
        select(
          class="form-select"
          id="sort-select"
          sort-select
        )
          option(value="") -- Mặc định --
          option(value="position-desc") Vị trí giảm dần
          option(value="position-asc") Vị trí tăng dần
          option(value="price-desc") Giá giảm dần
          option(value="price-asc") Giá tăng dần
          option(value="title-asc") Tiêu đề A - Z
          option(value="title-desc") Tiêu đề Z - A
        button(
          class="btn btn-danger mt-2"
          sort-clear
          ) Clear  