header.header-admin
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard") Admin Panel
      .col-9
        .inner-menu
          ul
            li
              a(href="/admin/dashboard") Tổng quan
            li
              a(href="/admin/products-category") Danh mục sản phẩm
            li
              a(href="/admin/logout") Đăng Xuất
